h2 {
    margin-top: 3em;
    border-top: solid 1px #ccc;
    padding-top: 0.2em;
}

#changing  {
    border: solid 1px blue;
    padding: 1em;
    margin: 1em;
}

#register_form {
    width: 80%;
    size:125%;
}