    
        .navbar-brand { font-family: "Anton"; text-align: left; padding:0px;}

        #headlines {
          width:80%;
          margin:auto;
          margin-top:1cm;
          text-indent: 0px;
        }

        body {
          padding-top:50px;
          background-color: #33ccff;
          text-indent:1.5em;
        }

      
        #saying  {
          text-align: center;
          width:80% ;
          margin: auto;
          margin-top:2cm;
        }

        form {
          margin:50px;
        }

        .navbar-inverse {
          height:120px;
          border-top: 10px solid #99ff33;
          border-bottom: 10px solid #99ff33;
        }

        #changing  {
          width:80%;
        }

      
