   
{% extends 'base.html' %}
{% block content %}

<form action="/declare_interests" method="POST">
<ul id = "categories"> 
{% if "user_id" in session %}
 
<h1 > I'm interested in: <h1>

{% for category in category_names %}
    
    <label style="font-size:85%">{{category}}
        <input type="checkbox"
               name="interest_change"
               value="{{category}}"
            {% if category in category_list %}
               checked="checked"
            {% endif %}
        >
        
    </label>
    <br>
{% endfor %}

    <div>
        <input style="background-color:Transparent;" type="submit" value="Submit Interests">
    </div>
{% endif %}
</ul>
</form>

{% endblock %}
   {{User.query.get(int('user_id')).firstname}}