   
{% extends 'base.html' %}
{% block content %}

<form action="/declare_interests" method="POST">  
<h2> Please check the categories you're interested in today. : <h2>
{% for category in category_names %}

    <label>{{category}}
        <input type="checkbox"
               name="interest_change"
               value="{{category}}"
            {% if category in category_list %}
               checked="checked"
            {% endif %}
        >
        
    </label>
{% endfor %}

    <div>
        <input type="submit" value="Register">
    </div>

</form>

{% endblock %}