{% extends 'base.html' %}
{% block content %}

<h1>Register</h1>

<form action="/register_form" method="POST">

    <div>
        <label>
            First Name
            <input type="firstname" name="firstname">
        </label>
    </div>

    <div>
        <label>
            Last Name
            <input type="lastname" name="lastname">
        </label>
    </div>

    <div>
        <label>
            Email
            <input type="email" name="email">
        </label>
    </div>

    <div>
        <label>
            Password
            <input type="password" name="password">
        </label>
    </div>
<h2> Topics I'm interested in (Choose up to five): <h2>
    <input type="checkbox" name="interest" value="AskReddit">AskReddit
    <input type="checkbox" name="interest" value="funny">funny 
    <input type="checkbox" name="interest" value="todayilearned">todayilearned
    <input type="checkbox" name="interest" value="pics">pics
    <input type="checkbox" name="interest" value="science">science
    <input type="checkbox" name="interest" value="worldnews">worldnews
    <input type="checkbox" name="interest" value="IAmA">IAmA
    <input type="checkbox" name="interest" value="announcements">announcements
    <input type="checkbox" name="interest" value="videos">videos
    <input type="checkbox" name="interest" value="gaming">gaming
    <input type="checkbox" name="interest" value="blog">blog
    <input type="checkbox" name="interest" value="movies">movies
    <input type="checkbox" name="interest" value="Music">Music
    <input type="checkbox" name="interest" value="aww">aww
    <input type="checkbox" name="interest" value="news">news
    <input type="checkbox" name="interest" value="gifs">gifs
    <input type="checkbox" name="interest" value="explainlikeimfive">explainlikeimfive
    <input type="checkbox" name="interest" value="askscience">askscience
    <input type="checkbox" name="interest" value="books">books
    <input type="checkbox" name="interest" value="television">television
    <input type="checkbox" name="interest" value="LifeProTips">LifeProTips
    
  

    <div>
        <input type="submit" value="Register">
    </div>

</form>

{% endblock %}