{% extends 'base.html' %}
{% block content %}

<!-- <script src="/static/ajax-exercise.js"></script> -->


<br>
{% for category, posts in dictionary_to_unpack_in_html.iteritems() %}
<div class = "row" id="get_news_now">
    <button  type= "button" class="favorite-btn btn btn-primary" value = "0" id="{{category}}">{{category}}</button>


</div>


<div class="row" >

    {% for post in posts %}
    <div class = "col-md-4">
    <div class= "{{category}}" >
  

    {% if post["preview_image"] and post["thumbnail"] %}
        <a class="preview-image" href='{{post["preview_image"]}}'>
        
        <img class="thumbnail" src='{{post["thumbnail"]}}' style="width:150px;height:150px">
        </a>
    {% elif post["preview_image"] %}
        <a class="preview-image" href='{{post["preview_image"]}}'>
        
        <img class="thumbnail" src ='{{post["preview_image"]}}' style="width:150px;height:150px">
        </a>
    {% elif post["thumbnail"] %}
        <a class="preview-image" href="http://www.planetoons.com/img/6100-t.jpg" style="background-color:black;" >
        
        <img class="thumbnail" src='{{post["preview_image"]}}' style="width:150px;height:150px">
        </a>

    {% else %}
        <a href="http://www.planetoons.com/img/6100-t.jpg" style="background-color:black;"  class="thumbnail">
        <img src="http://www.planetoons.com/img/6100-t.jpg" style="width:150px;height:150px"
        </a>
    {% endif %}

    <h5><a  href='{{post["url"]}}'>{{post["title"]}}</a></h5>

    </div>
    </div>
   

    {% endfor %}
 
 


{% endfor %}
  <script>
      function addMoreNews(evt) {
        console.log("you are here");
        var category = this.id; // this is the id on the button we clicked, which is the image's id

        $.post("/news_quote", {'category': category}, addMoreNewsPlease);
    }

    function addMoreNewsPlease(result) {

        console.log(result);
        var listOfTwelveArticles =result["Science"];
        var start=science_val*3;
        var keep=listOfTwelveArticles.slice(start,start+3);
        console.log(keep);
        var science_list = $('.Science')
        for (var i=0; i<science_list.length;i++){
            console.log(science_list[i]);
            $('.Science h5').eq(i).html('<a>'+ keep[i]["title"]+'</a>');
            $('.Science h5 a').eq(i).attr("href",keep[i]["url"]);
            if (keep[i]["preview_image"]){
            $('.preview-image').eq(i).attr("href",keep[i]["preview_image"]);
        } else {
            $('.preview-image').eq(i).attr("href","http://www.planetoons.com/img/6100-t.jpg" );
        }
            if (keep[i]["thumbnail"]) {
            $('.thumbnail').eq(i).attr("src",keep[i]["thumbnail"]);
        } else {
             $('.preview-image').eq(i).attr("src","http://www.planetoons.com/img/6100-t.jpg" );
        }

        }
        
// need to put the output data here
    }
$(".favorite-btn").click(addMoreNews);



var science_val = $('#Science').val()

$("#Science").click(function() {science_val++});




  </script>
}

{% endblock %}



