{% extends 'base.html' %}
{% block content %}

<!-- <script src="/static/ajax-exercise.js"></script> -->



{% for category, posts in dictionary_to_unpack_in_html.iteritems() %}
<div class = "container-fluid">
    <div class = "row" id= "get_news_now">

    <button  type= "button" class="favorite-btn btn btn-default btn-block" value = "1" id="{{category}}" style="background-color:#1ac6ff;"><h3 style="font-size:40px;color:#007399;">{{category}}</h3></button>  

    </div>
</div><br>

<div class="container-fluid">
    <div class="row" >

        {% for post in posts %}
        <div class = "col-md-4">
            <div class = "{{category}}" >
                <div>


                    {% if post["preview_image"] %}
                    <a class="preview-image" href='{{post["preview_image"]}}'>   
                        <img class="thumbnail img-thumbnail img-responsive img-rounded center-block" src ='{{post["preview_image"]}}' style="height:200px;width:200px;background-color:#99ff33;object-fit:cover;overflow:hidden;">
                    </a>

                    {% elif post["thumbnail"] %}
                    <a class="preview-image" href="static/photoalt.jpg"  >    
                        <img class="thumbnail img-thumbnail img-responsive img-rounded center-block" src='{{post["thumbnail"]}}' style="height:200px;width:200px;background-color:#99ff33;object-fit:cover;overflow:hidden;">
                    </a>

                    {% else %}
                    <a class="preview-image" href="static/photoalt.jpg" >
                        <img class="thumbnail img-thumbnail img-responsive img-rounded center-block" src="static/photoalt.jpg" style="height:200px;width:200px;background-color:#99ff33;object-fit:cover;overflow:hidden;">
                    </a>
                    {% endif %}
                </div>

                <h4 style="text-indent:0px;"><a  href='{{post["url"]}}'>{{post["title"]}}</a></h4>

            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endfor %}

<script>
    function addMoreNews(evt) {

        var category = this.id; 
        $.post("/news_quote", {'category': category}, addMoreNewsPlease);
    }

    function addMoreNewsPlease(result) {

        var category = Object.keys(result)[0]
        console.log(category);
        var val_val = $("[id='"+category+ "']").val();
        console.log("val_val=" +val_val);
        $("[id='"+category+"']").click(function() {val_val++; $("[id='"+category+"']").val(val_val)});

        var listOfTwelveArticles =result[category];
        var start=val_val*3;
        var keep=listOfTwelveArticles.slice(start,start+3);
        console.log(keep);
        var topic_list = $("[class='"+category+ "']")
        for (var i=0; i<topic_list.length;i++){
            $("[class='"+category+ "'] h4").eq(i).html('<a>'+ keep[i]["title"]+'</a>');
            $("[class='"+category+ "'] h4 a").eq(i).attr("href",keep[i]["url"]);

            if (keep[i]["preview_image"]) {
                $("[class='"+category+ "'] div a").eq(i).attr("href",keep[i]["preview_image"]);
            } else {
                $("[class='"+category+ "'] div a").eq(i).attr("href","static/photoalt.jpg");
            }
            
            if (keep[i]["thumbnail"] != "self" && keep[i]["thumbnail"] != ""  ) {
                $("[class='"+category+ "'] div img").eq(i).attr("src",keep[i]["thumbnail"]);
            } else {
                $("[class='"+category+ "'] div img").eq(i).attr("src","static/photoalt.jpg");
            }
        }
    }
    
    $(".favorite-btn").click(addMoreNews);

</script>


{% endblock %}



